@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      * {
        font-family: 'Red Hat Display', sans-serif !important;
      }

      .header-7-2 .navbar-light .navbar-nav .nav-link {
          letter-spacing: 0.1em;
          color: #2c3a4f;
          transition: 0.3s;
      }

      .header-7-2 .navbar-light .navbar-nav .nav-link.active,
      .header-7-2 .navbar-light .navbar-nav .nav-link:hover {
          font-weight: 600;
      }

      .header-7-2 .header-sticky.scrolled {
          background-color: #fff !important;
          transition: background-color 200ms linear, box-shadow 300ms linear;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
      }

      .header-7-2 .btn-header {
          padding: 1rem 2.25rem;
          font: 700 0.75rem/1rem "Inter", sans-serif;
          border-radius: 999px;
          letter-spacing: 0.1em;
          color: #203864;
          border: 1px solid #203864;
          transition: 0.2s;
      }

      .header-7-2 .btn-header:hover {
          color: #ffffff;
          background-color: #203864;
          border-color: #203864;
          transition: 0.2s;
      }

      .header-7-2 .navbar {
          padding: 1.5rem 2rem;
      }

      .header-7-2 button:focus {
          outline: none;
      }

      @media (min-width: 576px) {
      }

      @media (min-width: 768px) {
      }

      @media (min-width: 992px) {
          .header-7-2 .navbar {
              padding: 1.5rem 3rem;
          }
      }

      @media (min-width: 1200px) {}

      @media (min-width: 1380px) {

      }

      @media (max-width: 1023px) {

      }

      /* Content 1 */

      body .content {
        background: #FFFFFF;
      }

      body .content .content {
        padding-top: 50px;
        padding-bottom: 90px;
      }

      body .content .content .headline {
        font-style: normal;
        font-weight: bold;
        font-size: 43px;
        line-height: 50px;
        color: #000000;
      }

      body .content .content .subheadline {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        /* or 156% */
        color: #627492;
      }

      body .content .content .button-header {
        margin-top: 40px;
      }

      body .content .content .button-header .btn-integrate {
        width: 150px;
        height: 50px;
        background: #498BFA;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
      }

      body .content .content .button-header .btn-docs {
        width: 150px;
        height: 50px;
        border: 1px solid #9BA8BE;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        text-align: center;
        color: #627492;
      }

      @media (min-width: 360px) {
        body .content .content{
          padding-top: 1px;
        }
      }

      /* Content 1 */
      .header-5-2 .modal-item.modal {
          top: 2rem;
      }

      .header-5-2 .hero {
          padding-top: 72px;
          padding-bottom: 72px;
      }

      .header-5-2 .btn:focus,
      .header-5-2 .btn:active {
          outline: none !important;
      }

      .header-5-2 .modal-item .modal-dialog .modal-content {
          border-radius: 8px;
      }

      .header-5-2 .responsive li a {
          padding: 1rem;
      }

      .header-5-2 .left-column {
          margin-bottom: 0;
          width: 100%;
      }

      .header-5-2 .right-column {
          width: 100%;
      }

      .header-5-2 .title-text-big {
          font: 700 2.25rem/2.5rem "Red Hat Display", sans-serif;
          margin-bottom: 1rem;
          color: #242336;
      }

      .header-5-2 .icon-item-caption {
          font: 1.25rem/1.5rem "Red Hat Display", sans-serif;
          margin-bottom: 3rem;
          color: #FDBC12;
      }

      .header-5-2 .btn-main {
          font: 500 0.875rem/1.25rem "Red Hat Display", sans-serif;
          border-radius: 999px;
          padding: 1rem 2.75rem;
          margin-bottom: 1rem;
          background-color: #203864;
      }

      .header-5-2 .btn-main:hover {
          background-color: #FDBC12;
          color: #ffffff;
      }

      .header-5-2 .btn-main .btn-fill-arrow {
          left: 0px;
          transition: 0.4s;
          position: relative;
      }

      .header-5-2 .btn-main:hover .btn-fill-arrow {
          left: 3px;
          transition: 0.4s;
          position: relative;
      }

      .header-5-2 .card-container {
          z-index: 999;
      }

      .header-5-2 .card-item {
          padding: 1rem 1.25rem 1.75rem;
          border-top-left-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
          transition: 0.4s;
          top: 0px;
          left: 0px;
          position: relative;
      }

      .header-5-2 .card-item:hover {
          box-shadow: -4px 4px 10px 0px rgba(224, 224, 224, 0.25);
          top: -3px;
          left: 3px;
          transition: 0.4s;
          position: relative;
      }

      .header-5-2 .card-header-title {
          font: 500 0.875rem/1.25rem "Red Hat Display", sans-serif;
          color: #132247;
          margin-bottom: 1px;
      }

      .header-5-2 .card-header-caption {
          font: 500 0.75rem/1rem "Red Hat Display", sans-serif;
          color: #FDBC12;
          margin-bottom: 0;
      }

      .header-5-2 .card-working-name {
          font: 500 0.75rem/1rem "Red Hat Display", sans-serif;
          margin-bottom: 0.25rem;
          color: #132247;
      }

      .header-5-2 .card-working-status {
          font: 500 0.625rem/1rem "Red Hat Display", sans-serif;
          color: #FDBC12;
          margin-bottom: 0;
      }

      .header-5-2 .btn-card-item {
          font: 600 0.75rem/1rem "Red Hat Display", sans-serif;
          background-color: #6781b3;
          color: #ffffff;
          transition: 0.3s;
          padding: 0.625rem 3.5rem;
          border-radius: 0.5rem;
      }

      .header-5-2 .btn-card-item:hover {
          background-color: #203864;
          color: #ffffff;
          transition: 0.3s;
      }

      .header-5-2 .dropdown-hover {
          height: 100%;
          padding: 0.5rem;
      }

      .header-5-2 .dropdown-hover:hover {
          background-color: #F2F0FF;
          border-radius: 0.75rem;
      }

      @media (min-width: 375px) {

          .header-5-2 .dropdown-hover:hover .dropdown-icon-arrow {
              display: block !important;
          }
      }

      @media (min-width: 576px) {
          .header-5-2 .modal-item .modal-dialog {
              max-width: 95%;
              border-radius: 12px;
          }

          .header-5-2 .title-text-big {
              font-size: 3rem;
              line-height: 1.2;
          }

          .header-5-2 .icon-item {
              width: 50%;
              margin-bottom: 2.75rem;
          }

          .header-5-2 .dropdown-hover {
              padding: 1rem;
          }

      }

      @media (min-width: 768px) {

          .header-5-2 .left-column {
              margin-bottom: 3rem;
          }
      }

      @media (min-width: 992px) {

          .header-5-2 .left-column {
              width: 50%;
              margin-bottom: 0;
          }

          .header-5-2 .right-column {
              width: 50%;
          }

          .header-5-2 .card-container {
              bottom: 6rem;
              right: 2rem;
              position: absolute !important;
              box-shadow: #2a3759;
          }

          .header-5-2 .box-shadow {
              box-shadow: 18px 20px 48px -8px rgba(132, 165, 176, 0.15);
              -webkit-box-shadow: 18px 20px 48px -8px rgba(132, 165, 176, 0.15);
              -moz-box-shadow: 18px 20px 48px -8px rgba(132, 165, 176, 0.15);
          }

          .header-5-2 .dropdown:hover .dropdown-icon-drop {
              display: none !important;
          }

          .header-5-2 .dropdown:hover .dropdown-icon-close {
              display: block !important;
          }
      }
      /* End Content 1 */

        /* Content 2 */
        .grid-padding {
        padding: 0rem 1rem 3rem;
      }

        .title-text {
        padding-top: 5rem;
        margin-bottom: 5rem;
        font-weight: bold !important;
        font-size: 42px;
      }

      .column .icon-title{
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .column .icon-caption{
        font-size: 12px;
        /* text-align: justify; */
      }

      @media (min-width: 375px) {
        .column .icon-caption{
            margin-bottom: 50px !important;
          }
        }

      /* End Content 2 */

      /* Content 3 */
      .content-6-1 p,
      .content-6-1 h5 {
        margin: 0rem;
      }

      .content-6-1.main {
        padding: 80px 24px;
      }

      .content-6-1 .title-text {
        font: 800 42px/1.25 "Red Hat Display", sans-serif;
        margin-bottom: 86px;
        letter-spacing: 0.025em;
        color: #3a3935;
      }

      .content-6-1 .text-gray-1 {
        color: #444341;
      }

      .content-6-1 .text-gray-2 {
        color: #82817f;
      }

      .content-6-1 .left-column,
      .content-6-1 .right-column {
        margin-bottom: 3rem;
      }

      .content-6-1 .title-item {
        font: 600 1.125rem/1.625 "Red Hat Display", sans-serif;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }

      .content-6-1 .caption-item {
        font-size: 0.875rem;
        line-height: 1.625;
      }

      @media (min-width: 1024px) {
        .content-6-1 .line {
          left: 0;
          right: 0rem;
          width: 1px;
          height: 505px;
          z-index: 50;
          padding: 0;
          background-color: #f2f1ec;
        }

        .content-6-1 .left-column,
        .content-6-1 .right-column {
          margin-bottom: 0rem;
        }

        .content-6-1.main {
          padding: 80px 120px;
        }
      }

      @media (min-width: 1200px) {
        .content-6-1.main {
          padding: 80px 200px;
        }
      }
      /* End contet 3 */

      /* Content 4 */
      .client{
        padding: 80px 24px;
      }
      /* End Content 4 */

      /* Footer */
      .footer-4-2 .icon-footer:hover path {
        fill: #203864;
      }
  
      .footer-4-2 .text-gray-1 {
        color: #1E3864;
      }
  
      .footer-4-2 .main {
        padding: 4rem 2rem 7rem;
        padding-bottom: 50px !important;
      }
  
      .footer-4-2 .text-base {
        font-size: 1rem;
        line-height: 1.5rem;
      }
  
      @media (min-width: 576px) {}
  
      @media (min-width: 768px) {
        .footer-4-2 .main {
          padding: 4rem 4rem 7rem;
        }
      }
  
      @media (min-width: 992px) {
        .footer-4-2 .main {
          padding: 4rem 7rem 7rem;
        }
      }
  
      @media (min-width: 1200px) {
        .footer-4-2 .topnav-centered p {
          float: none;
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
        }
      }